@import '../../../styles/bootstrap-config';

:host {
    display: flex;
    flex-direction: column;
    gap: 8px;

    img {
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }

    .info {
        display: flex;
        flex-direction: row;
        gap: inherit;

        .instructions {
            flex-grow: 2;
        } 
        
        .ingredients {
            flex-grow: 1;
        }

        @include media-breakpoint-down(md) {
            display: flex;
            flex-direction: column;
            gap: inherit;
    
            .instructions {
                flex-grow: 1;
            } 
        }
    }
}
