<div class="list-container row">
    @for (recipe of _recipes$ | async; track $index) {
        <a [routerLink]="['/recipe-detail', recipe.id]" class="col-sm-6 col-md-4 col-lg-3">
            <div class="list-item">
                <div class="item-image-container">
                    
                    @if (recipe.imgUrl) {
                    <img [src]="recipe.imgUrl" class="item-image img-fluid">
                    } @else {
                    <img src="dummy-image-square-300x300.jpg" class="item-image img-fluid">
                    }

                </div>
                <div class="item-title">

                    <a href="#" class="item-title-link stretched-link">
                        {{recipe.name}}
                    </a>
                    
                </div>
            </div>
        </a>
    }
</div>