@if (_recipe$ | async; as recipe) {
  <h4>{{ recipe.name }}</h4>

  @if (recipe.imageUrl) {
    <img [src]="recipe.imageUrl">
  } @else {
    <img src="dummy-image-square-300x300.jpg">
  }

  <div class="row">
    <div class="col-md-4">
      <h6>Zutaten:</h6>
      <ul>
        @for (ingredient of recipe.ingredients; track $index) {
          <li>{{ ingredient }}</li>
        }
      </ul>
    </div>
    <div class="col-md-8">
      <h6>Beschreibung:</h6>
      <ul>
        @for (block of recipe.instructions; track $index) {
          <p>
            @for (line of block; track $index) {
              <li>{{ line }}</li>
            }
          </p>
        }
      </ul>
    </div>
  </div>
}
