@if (_recipe$ | async; as recipe) {
<div class="row mb-3">
  <div class="col">
    <h1>{{ recipe.name }}</h1>
    @if (recipe.description) {
      <p class="lead">{{ recipe.description | firstSentence }}</p>
    }
  </div>
</div>

<div class="row mb-5">
  <div class="col-lg-10 col-xl-9 col-xxl-8">
    @if (recipe.imageUrl) {
    <img [src]="recipe.imageUrl" class="img-fluid rounded-2">
    } @else {
    <img src="dummy-image-square-300x300.jpg">
    }
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-lg-4 mb-4 mb-md-0">
    <h2 class="h4 mb-4">Zutaten</h2>
    <table class="table table-striped">
      <tbody>
        @for (ingredient of recipe.ingredients; track $index) {
        <tr>
          <td>{{ ingredient }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="col-md-7 col-lg-8">
    <h2 class="h4 mb-4">Zubereitung</h2>
    <div>
      @for (block of recipe.instructions; track $index) {
      <p>
        @for (line of block; track $index) {
        {{ line }}
        }
      </p>
      }
    </div>
    @if (recipe.url) {
      <div class="mt-4">
        <a class="btn btn-secondary" href="{{ recipe.url }}" target="_blank" role="button">Zum Originalrezept</a>
      </div>
    }
  </div>
</div>
}