@if (_recipe$ | async; as recipe) {
<h1>{{recipe.name}}</h1>

@if (recipe.imageUrl) {
  <img [src]="recipe.imageUrl">
} @else {
  <img src="frontend/public/dummy-image-square-300x300.jpg">
}

<div class="row">
    <div class="col-md-8">
        <h3>Instructions:</h3>
        <ul>
            @for (step of recipe.instructions; track $index) {
            <li>{{step}}</li>
            }
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Ingredients:</h3>
        <ul>
            @for (ingredient of recipe.ingredient; track $index) {
            <li>{{ingredient}}</li>
            }
        </ul>
    </div>
</div>

} @else {
Something went wrong!
}
