<nav class="tasty-main-bar navbar">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/icon.jfif" type="image/x-icon" alt="App icon" class="tasty-icon" />
            TastyBookmarks
        </a>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

<div class="tasty-fab-container">
    <button mat-fab aria-label="Add icon button that opens dialog" (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>