<nav class="tasty-main-bar navbar">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/icon.jfif" type="image/x-icon" alt="App icon" class="tasty-icon" />
            TastyBookmarks
        </a>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

<div class="tasty-fab-container">
    <div class="container">
      @if(displayButtons().includes('AddRecipeButton')) {
        <button mat-fab class="tasty-primary-action" (click)="openDialog()">
          <mat-icon>add</mat-icon>
        </button>
      }
      @if(displayButtons().includes('DeleteRecipeButton')){
        <button mat-fab class="tasty-critical-action">
          <mat-icon>delete</mat-icon>
        </button>
      }
    </div>
</div>
