<div class="list-container row">
  @for (recipe of _recipes$ | async; track recipe._id) {
    <div class="list-item col-sm-6 col-md-4 col-lg-3">

      <div class="item-image-container">
        @if (recipe.imageUrl) {
          <img [src]="recipe.imageUrl" class="item-image rounded-1">
        } @else {
          <img src="dummy-image-square-300x300.jpg" class="item-image img-fluid">
        }
      </div>

      <div class="item-title">
        <a href="#" [routerLink]="['/recipes', recipe._id, recipe.name | kebabCase]"
           class="item-title-link stretched-link">
          {{ recipe.name }}
        </a>
      </div>

      <button mat-icon-button (click)="delete(recipe._id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  }
</div>