@import 'bootstrap-config';
@import '../../../styles/variables';

.list-container {

  .list-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $light-border-subtle;
    transition: background-color 0.3s ease;

    .mat-mdc-icon-button {
      visibility: visible;
      margin-left: auto;
      z-index: 1;

      .mat-icon {
        color: $tasty-critical-icon-color;
      }
    }

    @include media-breakpoint-up(sm) {
      flex-direction: column;
      align-items: start;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: none;

      .mat-mdc-icon-button {
        visibility: hidden;
      }

      &:hover {
        background-color: $light;

        .mat-mdc-icon-button {
          visibility: visible;
        }
      }
    }
  }

  .item-image {
    @include media-breakpoint-down(sm) {
      min-width: 55px;
      width: 55px;
      margin-right: 15px;
    }
  }

  .item-title {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .item-title-link {
      text-decoration: none;
      color: initial;
    }
  }
}
