@import '../../scss/bootstrap-config';

.list-container {

    .list-item {
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $light;
        }

        @include media-breakpoint-down(sm) {
            border-bottom: 1px solid $light-border-subtle;
        }
    }

    .item-image {
        @include media-breakpoint-down(sm) {
            width: 55px;
            margin-right: 15px;
        }
    }

    .item-title {
        .item-title-link {
            text-decoration: none;
            color: initial;
        }
    }

}