<h1>Rezept erstellen</h1>

<form [formGroup]="createRecipeForm">
  <section class="recipe-metadata">
    <mat-form-field>
      <mat-label>Rezept Name</mat-label>
      <input type="text" matInput formControlName="name">
      @if (isNameInvalid$ | async) {
        <mat-error>Dein Rezept braucht einen Namen!</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Kurze Rezeptbeschreibung (optional)</mat-label>
      <textarea type="text" matInput formControlName="description"></textarea>
    </mat-form-field>
  </section>

  <section class="recipe-content">
    <mat-form-field>
      <mat-label>Portionen</mat-label>
      <input type="number" matInput formControlName="servingSize">
      @if (servingSizeError$ | async) {
        <mat-error>{{ servingSizeError$ | async }}</mat-error>
      }
    </mat-form-field>

    <section class="recipe-row">
      <section class="recipe-column" formArrayName="ingredients">
        <h2>Zutaten</h2>
        @for (ingredient of ingredients.controls; track ingredient) {
          @if ($last) {
            <mat-form-field>
              <mat-label>Zutat</mat-label>
              <input type="text" matInput [formControl]="ingredient" [tastyAutoFocus]="focusInput.ingredients"
                     [required]="$first">
              <button type="button" mat-icon-button matSuffix (click)="addIngredient()" [disabled]="ingredient.invalid">
                <mat-icon>add</mat-icon>
              </button>
              @if (ingredient.invalid) {
                <mat-error>Dein Rezept braucht mindestens eine Zutat!</mat-error>
              }
            </mat-form-field>
          } @else {
            <mat-form-field>
              <mat-label>Zutat</mat-label>
              <input type="text" matInput [formControl]="ingredient">
              <button type="button" mat-icon-button matSuffix (click)="deleteIngredient($index)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-form-field>
          }
        }
      </section>

      <section class="recipe-column" formArrayName="steps">
        <h2>Zubereitung</h2>
        @for (step of instructions.controls; track step) {
          @if ($last) {
            <mat-form-field>
              <mat-label>Anleitungs Schritt</mat-label>
              <textarea type="text" matInput [formControl]="step" [tastyAutoFocus]="focusInput.instructions"
                        [required]="$first"></textarea>
              <button type="button" mat-icon-button matSuffix (click)="addInstruction()" [disabled]="step.invalid">
                <mat-icon>add</mat-icon>
              </button>
              @if (step.invalid) {
                <mat-error>Dein Rezept braucht mindestens einen Zubereitungsschritt!</mat-error>
              }
            </mat-form-field>
          } @else {
            <mat-form-field>
              <mat-label>Anleitungs Schritt</mat-label>
              <textarea type="text" matInput [formControl]="step"></textarea>
              <button type="button" mat-icon-button matSuffix (click)="deleteInstruction($index)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-form-field>
          }

        }
      </section>
    </section>
  </section>

  <section class="recipe-stats">
    <section class="recipe-time">
      <mat-form-field>
        <mat-label>Vorbereitungszeit</mat-label>
        <input type="number" matInput formControlName="prepTime">
        <span matSuffix class="recipe-text-suffix">min</span>
        @if (prepTimeError$ | async) {
          <mat-error>{{ prepTimeError$ | async }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Kochzeit</mat-label>
        <input type="number" matInput formControlName="cookTime">
        <span matSuffix class="recipe-text-suffix">min</span>
        @if (cockTimeError$ | async) {
          <mat-error>{{ cockTimeError$ | async }}</mat-error>
        }
      </mat-form-field>
    </section>

    <h2>Nährwerte</h2>
    <section class="recipe-nutrition">
      <mat-form-field>
        <mat-label>Protein (optional)</mat-label>
        <input type="text" matInput formControlName="protein">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Kohlenhydrate (optional)</mat-label>
        <input type="text" matInput formControlName="carbs">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fett (optional)</mat-label>
        <input type="text" matInput formControlName="fat">
      </mat-form-field>
    </section>

    <h2>Tags</h2>
    <section class="recipe-tags">
      <mat-form-field>
        <mat-label>Tags</mat-label>
        <mat-chip-grid #chipGrid formControlName="tags">
          @for(tag of tags(); track tag){
            <mat-chip-row
              (removed)="removeTag(tag)"
              [editable]="true"
              (edited)="editTag(tag,$event)"
            >
              {{tag}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          }
          <input
            placeholder="New fruit..."
            matChipInputAddOnBlur
            [formControl]="currentTag"
            [matAutocomplete]="tagAutocomplete"
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addTag($event)"
          />
          <mat-autocomplete #tagAutocomplete="matAutocomplete" (optionSelected)="selectedTag($event)">
            @for (tag of (filteredTags$ | async); track tag) {
              <mat-option [value]="tag">{{tag}}</mat-option>
            }
          </mat-autocomplete>
        </mat-chip-grid>
      </mat-form-field>

      <!--      <mat-form-field>-->
      <!--        <mat-label>Kategorien</mat-label>-->
      <!--        <input type="text" matInput formControlName="categories"-->
      <!--               placeholder="Will be changed to chip input in a later step">-->
      <!--      </mat-form-field>-->
    </section>
  </section>
</form>

<button mat-button (click)="save()">Speichern</button>
